<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="1pt30HkDD3" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{* head_keywords *}">
    <meta name="description" content="{* head_description *}">
    <meta name="author" content="One Rain">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{* head_title *}" />
    <meta property="og:url" content="{* url *}" />
    <meta property="og:site_name" content="kiswo" />
    <meta property="og:description" content="{* head_description *}" />
    <meta property="og:image" content="{* image *}" />
    <meta property="og:update_time" content="{* time *}" />

    <meta name="twitter:card" property="twitter:card" content="summary" />
    <meta name="twitter:title" property="twitter:title" content="{* head_title *}" />
    <meta name="twitter:description" property="twitter:description" content="{* head_description *}" />
    <meta name="twitter:image" property="twitter:image" content="{* image *}" />

    <meta property="weibo:type" content="article" />
    <meta property="weibo:article:url" content="{* url *}" />
    <meta property="weibo:article:title" content="{* head_title *}" />
    <meta property="weibo:article:description" content="{* head_description *}" />
    <meta property="weibo:article:image" content="{* image *}" />

    <link rel="icon" href="{* domain *}/favicon.ico" type="image/x-ico">

    <title>{* head_title *}</title>

    <link href="{* domain *}/assets/css/??bootstrap.min.css,blog-post.css,tomorrow.css,font-awesome.min.css?v=10000" rel="stylesheet">
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    {( top.html )}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->
                <!-- Title -->
                <h1>{* post[1].title *}</h1>
                <!-- Author
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>
                <hr>
                -->
                <!-- Date/Time -->
                <p>
                    <span class="glyphicon glyphicon-time" title="创作时间"></span>&nbsp;{* post[1].create_time *} &nbsp;
                    {% if tag_names ~= nli then %}
                        <span class="glyphicon glyphicon-tags" title="标签"></span>&nbsp;
                        {% for i, j in pairs(tag_names) do %}
                            <a href="{* domain *}/tag/{* tag_ids[i] *}">{* tag_names[i] *}</a>&nbsp;
                        {% end %}
                    {% end %}
                    <span class="glyphicon glyphicon-eye-open" title="阅读次数"></span>&nbsp;{* post[1].read_count *}
                </p>
                <hr>
                <!-- Preview Image
                <img class="img-responsive" src="{* post[1].img_path *}" alt="">
                <hr>
                -->

                <!-- Post Content -->
                <p><span style="color: rgb(136, 136, 136);"><strong>导读：</strong>
                    {* post[1].content *}
                </span></p>
                <p>{* post[1].html *}</p>
                <hr>

				<!--
                <p class="money-notice">若你觉得我的文章对你有帮助,欢迎对我打赏</p>
                <b>支付宝扫码打赏</b>
                <div class="row">
                     <div class="col-lg-6">
                         <img class="img-responsive" src="{* domain *}/image/work/alipay.png">
                     </div>
                </div>
                <br />
                <b>微信扫码打赏</b>
                <div class="row">
                     <div class="col-lg-6">
                         <img class="img-responsive" src="{* domain *}/image/work/weixin.png">
                     </div>
                </div>
                <br />
				-->
                <!-- Blog Comments -->
				{( comments.html )}
            </div>

            <!-- Blog Sidebar Widgets Column -->
            {( sidebar.html )}

        </div>
        <!-- /.row -->
        <hr>

        <!-- Footer -->
        {( footer.html )}
    </div>
    <!-- /.container -->
    <script src="{* domain *}/assets/js/??jquery.min.js,bootstrap.min.js,highlight.pack.js,my-blog.js?v=10000"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92392923-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
